[submodule "lib/node-paperboy"]
	path = lib/node-paperboy
	url = https://github.com/felixge/node-paperboy.git
[submodule "lib/node-jspack"]
	path = lib/node-jspack
	url = https://github.com/pgriess/node-jspack.git
[submodule "lib/socket.io"]
	path = lib/socket.io
	url = https://github.com/LearnBoost/Socket.IO.git
